h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: White;
  text-align:center;
}
.cta {
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
}
h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}
p {
  font-family: Verdana;
  font-size: 16px;
  color: Gray;
}
video {
  object-fit: contain;
}
body {
  font-family: Verdana;
  text-align: center;
  background-color: black;
  color: white;
}
.footer {
  text-align: right;
}
